/* You can add global styles to this file, and also import other style files */

:root {
  --main-color: #d7b12f;
  --main-color-light: #f0e6b2;
  --main-color-dark: #b59a2f;
  --dark-color: #222222;
  --text-color: #9c9c9c;
  --red-color: #fc3441;
  --white-color: #fff;
  font-size: 1.1rem;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--dark-color);
  color: var(--white-color);
  margin: 0;
  padding: 0;
}

.page-content {
  min-height: calc(100vh - 120px);
  padding: 3rem 1rem;
  max-width: 1280px;
  margin: 0 auto;
}
