<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ice">
      <img src="/assets/images/svg/ice.svg" alt="Eis" />
    </ion-tab-button>
    <ion-tab-button tab="drinks"
      ><img src="/assets/images/svg/drink.svg" alt="Getränke" />
    </ion-tab-button>
    <ion-tab-button tab="dessert">
      <img src="/assets/images/svg/dessert.svg" alt="Desserts" />
    </ion-tab-button>
    <ion-tab-button tab="food">
      <img src="/assets/images/svg/food.svg" alt="Essen" />
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <img src="/assets/images/svg/contact.svg" alt="Kontakte" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
